<div class="terminal-nav" id="navbar">
    <div class="terminal-logo">
        <div class="logo terminal-prompt"><a href="{% url 'about' %}" class="no-style">FernandoArbex.me</a></div>
    </div>
    <nav class="terminal-menu">
        <ul>
            <li><a class="menu-item" href="{% url 'about' %}">Sobre mí</a></li>
            <li><a class="menu-item" href="{% url 'projects' %}">Proyectos</a></li>
            <li><a class="menu-item" href="https://github.com/FARBEX97" target="_blank">GitHub</a></li>
            <li><a class="menu-item" href="https://www.linkedin.com/in/fernando-arbex/" target="_blank">LinkedIn</a></li>
        </ul>
    </nav>
</div>
