{% extends 'base/html/base.html' %}

{% block title %}Proyectos | Fernando Arbex{% endblock %}
{% block content %}

<h1>Proyectos</h1>

{% if object_list %}
    <ul>
        {% for project in object_list %}
        <li>
            <h2 style="margin-bottom:auto">{{project}}</h2>
            {% if project.repo_link or project.demo_link %}Links: {% endif %}
            {% if project.repo_link %}<a href="{{project.repo_link}}" target="_blank">repo</a>{% endif %}
            {% if project.repo_link and project.demo_link %} | {% endif %}
            {% if project.demo_link %}<a href="{{project.demo_link}}" target="_blank">demo</a>{% endif %}
            <p>{{project.description}}</p>
        </li>
        {% if project != object_list.last %}<hr>{% endif %}
        {% endfor %}
    </ul>

{% else %}
    <p>There is no project yet.</p>
{% endif %}
{% endblock %}